<% provide(:title, 'Aspect Forum') %> <h1>Aspect Forum</h1>
<div class="row">
    <aside class="span4">
    <% if signed_in? %>
        <%= render 'shared/user_info', user: @current_user %>
        <hr>
        <%= render 'shared/create_topic_form' %>
    <% end %>
    </aside>
    <div class="span1"></div>
    <div class="span7">
        <% topics = @topics = AspectTopic.all.paginate(page: params[:page], per_page: 10)
        if topics.any? %>
        <div class="row">
            <div class="span7">
                <h3>No. of topics: <%= topics.count %></h3>
            </div>
        </div>
        <ol class="topics row">
            <%= render topics %>
        </ol>
        <%= will_paginate topics %>
        <% end %>
    </div>
</div>
