<% provide(:title, 'Aspect Forum') %> <h1>Aspect Forum</h1>
<div class="block8 centralized">
    <!-- <% if signed_in? %>
    <aside class="span5">
        <%= render 'shared/user_info', user: @current_user %>
        <%= render 'shared/create_topic_form' %>
    </aside>
    <% end %> -->
    <div class="span8">
        <% topics = @topics = AspectTopic.all.paginate(page: params[:page], per_page: 10)
        if topics.any? %>
        <h3>No. of topics: <%= topics.count %></h3>
        <ol class="topics">
            <%= render topics %>
        </ol>
        <%= will_paginate topics %>
        <% end %>
    </div>
</div>