<hr />
<div class="row">
    <div class="span12" style="text-align: center">
        <%= image_tag("aspect_logo.png", alt: "Aspect logo") %>
    </div>
</div>
<div class="hero-unit">
    <p>
        <b>Aspects</b> is the first ever inter-device multiplayer tower war game to be introduced to the mobile platform. Players do not only defend against waves of enemies, but also send forces to defeat their opponents.
    </p>
    <p>
        <b>Release Date:</b> Aspects will be available on the Apple App Store end of 2013.
    </p>
    <p>
        <b>Platform:</b> iOS devices, iOS 5 and above
    </p>
</div>
<hr />
<div class="row">
    <div class="span12">
        <div class="flex-video">
            <iframe class="video" src="http://www.youtube.com/embed/ge0oR8AZ3Qw" frameborder="0" allowfullscreen="">
                <html lang="en" dir="ltr">
            </iframe>
        </div>
    </div>
</div>
<hr />
<div class="hero-unit">
    <h2 class="featurette-heading"><span class="muted">It'll blow your mind.</span></h2>
    <p class="lead">
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
    </p>
</div>
<div class="row avatars">
    <div class="span3">
        <%= image_tag("arts/avatar_vulc.png") %>
    </div>
    <div class="span3">
        <%= image_tag("arts/avatar_ullr.png") %>
    </div>
    <div class="span3">
        <%= image_tag("arts/avatar_gea.png") %>
    </div>
    <div class="span3">
        <%= image_tag("arts/avatar_galen_ally.png") %>
    </div>
</div>
<div class="gap4"></div>
<div class="row concept_arts">
    <!-- <div class="span12">
        <div class="row">
            <div class="span6">
                <%= image_tag("arts/concept_the_messenger.jpg") %>
            </div>
            <div class="span6">
                <%= image_tag("arts/concept_golem.jpg") %>
            </div>
        </div>
    </div> -->
    <div class="span12">
        <div class="row">
            <div class="span6">
                <%= image_tag("arts/concept_elrina.jpg") %>
            </div>
            <div class="span6">
                <%= image_tag("arts/avatar_miniboss.png") %>
            </div>
        </div>
    </div>
    <div class="span12">
        <div class="row">
            <div class="span6">
                <%= image_tag("arts/avatar_008.png") %>
            </div>
            <div class="span6">
                <%= image_tag("arts/avatar_009.png") %>
            </div>
        </div>
    </div>
    <div class="span12">
        <div class="row">
            <div class="span6">
                <%= image_tag("arts/avatar_010.png") %>
            </div>
            <div class="span6">
                <%= image_tag("arts/avatar_soldier.png") %>
            </div>
        </div>
    </div>
</div>
<div class="gap4"></div>
<div class="row">
    <div class="span12">
        <%= image_tag("towers.jpg") %>
    </div>
</div>
<div class="gap4"></div>
<div class="row maps">
    <div class="span3">
        <%= image_tag("maps/map1.jpg") %>
    </div>
    <div class="span3">
        <%= image_tag("maps/map2.jpg") %>
    </div>
    <div class="span3">
        <%= image_tag("maps/map3.jpg") %>
    </div>
    <div class="span3">
        <%= image_tag("maps/map4.jpg") %>
    </div>
</div>