<hr />
<div class="featurette">
    <%= image_tag("aspect_logo.png", alt: "Aspect logo", class: "flex-img") %>
    <%= image_tag("arts/avatar_galen_ally.png", class: "pull-right featurette-image") %>
    <div class="lead">
        <p>
            <b>Aspects</b> is the first ever inter-device multiplayer tower war game to be introduced to the mobile platform. Players do not only defend against waves of enemies, but also send forces to defeat their opponents.
        </p>
        <p>
            <b>Release Date:</b> Aspects will be available on the Apple App Store end of 2013.
        </p>
        <p>
            <b>Platform:</b> iOS devices, iOS 5 and above
        </p>
        <p>
            <b>Price:</b> USD 1.99
        </p>
    </div>
</div>
<hr />
<div class="row">
    <div class="span12">
        <div class="flex-video">
            <iframe class="video" src="http://www.youtube.com/embed/ge0oR8AZ3Qw" frameborder="0" allowfullscreen="">
                <html lang="en" dir="ltr">
            </iframe>
        </div>
    </div>
</div>
<hr />
<div class="featurette">
    <%= image_tag("arts/titans.jpg", class: "pull-left flex-img") %>
    <div class="flex-gap"></div>
    <div class="lead">
        <p>
            <b>Sabaton Games</b> is a mobile games company that is founded by a small team of programmers and game artists who first met in summer 2012 during the Singapore-MIT GAMBIT Game Lab internship program in Cambridge. The games we had worked on with our individual teams in the program have achieved a good degree of recognition – one has been included in online articles in leading game-focused sites Gamasutra and Kotaku; another game has made one of the finalists for 2013 IndieCade, an international juried festival of independent games.
        </p>
        <p>
            We are a team of game developers with the shared passion of bringing depth to mobile gaming.
        </p>
    </div>
</div>
<hr />
<div class="hero-unit white-panel">
    <h2 class="featurette-heading">Concept Art</h2>
    <p>
        Character and environment designs are largely influenced by tribal motifs and native superstitions from around the world. The concept is also reflected in the music and sound effects in the game, which were composed by Hexany Audio.
    </p>
    <p>
        Players can choose to play as any one of the 3 main characters: <b>Vulc, Ullr & Gea.</b>
    </p>
</div>
<div class="row avatars">
    <div class="span4 card">
        <%= image_tag("arts/avatar_vulc.jpg") %>
    </div>
    <div class="span4 card">
        <%= image_tag("arts/avatar_ullr.jpg") %>
    </div>
    <div class="span4 card">
        <%= image_tag("arts/avatar_gea.jpg") %>
    </div>
</div>
<div class="flex-mini-gap"></div>
<hr />
<div class="hero-unit white-panel">
    <p>
        Final painted renderings of some secondary characters that players will encounter during game play.
    </p>
</div>
<div class="row concept_arts">
    <!-- <div class="span12">
    <div class="row">
    <div class="span6">
    <%= image_tag("arts/concept_the_messenger.jpg") %>
    </div>
    <div class="span6">
    <%= image_tag("arts/concept_golem.jpg") %>
    </div>
    </div>
    </div> -->
    <div class="span12">
        <div class="row">
            <div class="span6">
                <%= image_tag("arts/concept_elrina.jpg") %>
            </div>
            <div class="span6">
                <%= image_tag("arts/avatar_miniboss.png") %>
            </div>
        </div>
    </div>
    <div class="span12">
        <div class="row">
            <div class="span6">
                <%= image_tag("arts/avatar_008.png") %>
            </div>
            <div class="span6">
                <%= image_tag("arts/avatar_009.png") %>
            </div>
        </div>
    </div>
    <div class="span12">
        <div class="row">
            <div class="span6">
                <%= image_tag("arts/avatar_010.png") %>
            </div>
            <div class="span6">
                <%= image_tag("arts/avatar_soldier.png") %>
            </div>
        </div>
    </div>
</div>
<div class="flex-mini-gap"></div>
<hr />
<div class="hero-unit white-panel">
    <p>
        A draft of some of the primary Totems before the production of sprite sheets.
    </p>
</div>
<div class="row">
    <div class="span12">
        <%= image_tag("towers.jpg") %>
    </div>
</div>
<div class="flex-mini-gap"></div>
<hr />
<div class="hero-unit white-panel">
    <p>
        Final map designs that are included in the game.
    </p>
</div>
<div class="row maps">
    <div class="span3">
        <%= image_tag("maps/map1.jpg") %>
    </div>
    <div class="span3">
        <%= image_tag("maps/map2.jpg") %>
    </div>
    <div class="span3">
        <%= image_tag("maps/map3.jpg") %>
    </div>
    <div class="span3">
        <%= image_tag("maps/map4.jpg") %>
    </div>
</div>