<li id="<%= aspect_topic.id %>">
    <%= link_to gravatar_for(aspect_topic.user), aspect_topic.user %>
    <span class="user"> <%= link_to aspect_topic.user.name, aspect_topic.user %> </span>
    <span class="content"><%= aspect_topic.content %></span>
    <span class="timestamp"> Created <%= time_ago_in_words(aspect_topic.created_at) %> ago. </span>
    <% if current_user?(aspect_topic.user) %>
        <%= link_to "delete", aspect_topic, method: :delete, 
            data: { confirm: "You sure?" }, 
            title: aspect_topic.content %>
    <% end %>
</li>