<li id="<%= aspect_topic.id %>" class="row">
    <div class="span7">
        <div class="row">
            <span class="span7"><h4><strong><%= aspect_topic.user.name %></strong></h4></span>
        </div>
        <p></p>
        <div class="row">
            <div class="span2 gravatar">
                <a class="thumbnail"><%= gravatar_for(aspect_topic.user) %></a>
            </div>
            <span class="content span5"><%= aspect_topic.content %></span>
        </div>
        <div class="row">
            <div class="span7">
                <p></p>
                <p>
                    <i class="icon-time"></i>
                    <span>Created <%= time_ago_in_words(aspect_topic.created_at) %> ago.</span>
                    | <i class="icon-comment"></i>
                    <span>3 comments</span>
                    <% if current_user?(aspect_topic.user) %>
                    | <i class="icon-trash"></i>
                    <%= link_to "Delete", aspect_topic, method: :delete,
                    data: { confirm: "You sure?" },
                    title: aspect_topic.content %>
                    <% end %>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="span7">
                <!-- Comments -->
                <% aspect_topic.comments.to_a.each do |comment| %>
                <div class="row">
                    <div class="span1 small-gravatar">
                        <a class="thumbnail"><%= gravatar_for(comment.user, options = { size: 40 }) %></a>
                    </div>
                    <div class="span6" style="margin-left: 10px !important;">
                        <div class="row comment-content">
                            <div class="span6">
                                <span class="user-name"><%= comment.user.name %> </span><span><%= comment.content %></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span6">
                                <span class="date"><%= time_ago_in_words(comment.created_at) %> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <p></p>
                <% end %>
            </div>
        </div>
        <% if signed_in? %>
        <div class="row comment-post-form">
            <div class="span7">
                <%= render "comments/comment", topic: aspect_topic %>
            </div>
        </div>
        <% end %>
        <hr>
    </div>
</li>
