<header id="top">
    <div class="width-constraint">
        <div id="logo">
            <%= link_to image_tag("logo.png", alt: "Sabaton Game Studio"), root_path %>
        </div>
        <nav>
            <ul class="list-nav">
                <li>
                    <%= link_to "HOME", root_path %>
                </li>
                <li>
                    <%= link_to "ABOUT US", about_path %>
                </li>
                <li>
                    <%= link_to "SIGN UP", signup_path %>
                </li>
                <li>
                    <%= link_to "SIGN IN", signin_path %>
                </li>
            </ul>
        </nav>
    </div>
</header>
