<header id="top">
    <div class="width-constraint">
        <div id="logo">
            <%= link_to image_tag("logo.png", alt: "Sabaton Game Studio"), root_path %>
        </div>
        <nav>
            <ul class="list-nav">
                <li>
                    <%= link_to "HOME", root_path %>
                </li>
                <li>
                    <%= link_to "ABOUT US", about_path %>
                </li>
                <% if signed_in? %>
                <li id="fat-menu" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">ACCOUNT <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <%= link_to "Profile", current_user %>
                        </li>
                        <li>
                            <%= link_to "Settings", edit_user_path(current_user) %>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <%= link_to "Sign out", signout_path, method: "delete" %>
                        </li>
                    </ul>
                </li>
                <% else %>
                <li>
                    <%= link_to "SIGN UP", signup_path %>
                </li>
                <li>
                    <%= link_to "SIGN IN", signin_path %>
                </li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>
